<div class="container d-flex justify-content-center">
  <div class="row">
    <h1 class="camp-h1">List of all Campsites</h1>
  </div>
</div>
<div class="container text-dark">
  <% @campsites.each do |campsite| %>
    <div class="card">
      <h3>name: <%= link_to campsite.name, campsite_path(campsite.id)%></h3>
      <h4>address: <%= campsite.address %></h4>
      <h4>description: <%= campsite.description %></h4>
      <h4>Price per night: <%= campsite.price_per_night %></h4>
      <h4>Guest capacity: <%= campsite.capacity %></h4>
    </div>
  <% end %>
</div>