<h1>Campsites</h1>
<%= link_to "Add new campsite", new_campsite_path %>

<% if current_user.nil? %>
  <%= link_to "login/register", new_user_session_path %>
<% else %>
  <%= link_to "My account",  my_account_path(current_user) %>
<% end %>

<hr>

<div class="container">
  <% @campsites.each do |campsite| %>
    <div class="card">
      <h3>name: <%= link_to campsite.name, campsite_path(campsite.id)%></h3>
      <h4>address: <%= campsite.address %></h4>
      <h4>description: <%= campsite.description %></h4>
      <h4>Price per night: <%= campsite.price_per_night %></h4>
      <h4>Guest capacity: <%= campsite.capacity %></h4>
    </div>
  <% end %>
</div>
