
  <div class="container" id="add-camp-container" >
    <div class="row-6">
    <%= simple_form_for(@campsite) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %> 
      <%= f.input :price_per_night %>
      <%= f.input :capacity %>
      <div class="container d-flex justify-content-center">
      <%= f.submit %>
      </div> 
    <% end %>
  </div>
</div>