<%= link_to "Back to Campsites", campsites_path %>
<hr>

<h2>name: <%= @campsite.name %></h2>
<h4>address: <%= @campsite.address %></h4>
<h4>description: <%= @campsite.description %></h4>
<h4>Price per night: <%= @campsite.price_per_night %></h4>
<h4>Guest capacity: <%= @campsite.capacity %></h4>

<h1>book <%=@campsite.name%> </h1>
<%= simple_form_for [@campsite, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :number_of_guest, as: :numeric %>
  <%= f.submit %>
<% end %>


