
<div class="container">

  <div class="campsite-header" >
    <h1><%= @campsite.name %></h1>
    <p><%= @campsite.address %></p>
  </div>

  <div class="row">
    <div class="col-7">
          <div class="campsite-img">
            <% if @campsite.photo.attached? %>
              <%= cl_image_tag @campsite.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80" alt="Card image cap">
            <% end %>
          </div>
          <br>
          <p>Max Guests: <%= @campsite.capacity %></p>
          <p>Description: <%= @campsite.description %></p>
     </div>
     
     <div class="col">
            <div class="booking-card">
            <h4> Book <%=@campsite.name%> for £<%= (@campsite.price_per_night).to_i %> / night</h4>
            <%= simple_form_for [@campsite, @booking] do |f| %>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              <%= f.input :number_of_guest, :collection => 1..@campsite.capacity, :prompt => "Guests"%>
              <%= f.submit "Reserve", :class => "camp-book-bttn"%>
            <% end %>
          </div>
      </div>
   </div>
</div>
