
<div class="container">

  <div class="campsite-header" >
    <h1><%= @campsite.name %></h1>
    <p><%= @campsite.address %></p>
  </div>

  <div class="row">
    <div class="col-7">
              
          
          <div class="campsite-img">
            <img src="/assets/camping-43.jpg" alt="campsite-" />
          </div>
          <br>
          <p>Max Guests <%= @campsite.capacity %></p>
          <p><%= @campsite.description %></p>
          
          
     </div>
     
     <div class="col">
            <div class="booking-card">
            <h4> Book <%=@campsite.name%> for <%= @campsite.price_per_night %> / night</h4>
            <%= simple_form_for [@campsite, @booking] do |f| %>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              <%= f.input :number_of_guest, :collection => 1..@campsite.capacity, :prompt => "Guests"%>
              <%= f.submit "Reserve", :class => "camp-book-bttn"%>
            <% end %>
          </div>
      </div>
   </div>
</div>
